# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/

# Metro
.metro-health-check*

# Testing
coverage/

# Misc logs
*.log

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Env
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# EAS
.eas/

# Editors
.vscode/
.idea/
